h2 {

    text-align : center;
    color :cornflowerblue;
    font-family :'Times New Roman', Times, serif;
}


pre {
    color : #004040;
}

body {


    background-color: #edede9;
    font-size : 20px;
}