h1 {

    text-align : center;
    color :cornflowerblue;
    font-family :'Times New Roman', Times, serif:
}

h3 {
    color : cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
}

pre {
    background-color :#564D4A;
    color : white;
    border-radius: 20px;
}