
.title 
{
    text-align : center;
    color : black;
}

.quote pre{
    text-align : center;
    font-size : 400px;
}

.logo
{
    height : 100px;
    width : 400px;
    float : left;
}
 
body
{
    font-family: 'Courier New', Courier, monospace;
}
.memo {
    color :cornflowerblue;
    text-align : center;
}
.venture 
{
    
    text-align : center;
    background-color : #b8b8ff;
}


.credentials {
    text-align : right;
}

.quote 
{
    font-size: large;
    text-align : center;
    border-start-end-radius: 100;
    margin-inline-start: 200px;
    margin-inline-end: 200px;
}

.login 
{

    text-align : right;
}


.community {
    width: 400px; 
    height: 120px;
}   

a:link:hover {
    color :cornflowerblue;
}

a:visited {
    color :darkslateblue;
}

h3 {
    color:cornflowerblue;
}