
.title 
{
    text-align : center;
    color : black;
}

.quote pre{
    text-align : center;
    font-size : 400px;
    color: white;
}

.logo
{
    mix-blend-mode: darken;
    height : 100px;
    width : 400px;
    float : left;
    
}
 
body
{
    background-color : #edede9;
    font-family: monospace;
}
.memo {
    color: #343a40;
    text-align: center;
    font-size : 25px;
}


.credentials {
    text-align : right;
}

.quote 
{
    font-size: 50px;
    border-start-end-radius: 100;
    margin-inline-start: 200px;
    margin-inline-end: 200px;
}

.login 
{

    text-align : right;
}



a:link:hover {
    color: white;
}

a:visited {
    color: white;
}


.communityTitle {

    font-size : 30px;
    text-align : center;
}

img {

    background-color : #ccd5ae;
    display : inline;
}
.risc{

    border-radius: 500px;
}
.andes {

    border-radius: 30px;
}

.owner {


    font-size :20px;
}
.about  {

    text-align : right;
    font-size : 20px;


}

.company {


    font-size: 20px;
}