thead tr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fefae0;
}

body {
    background-color: #f5ebe0;
}


section {

    background-color: #e3d5ca;

}