h2 {

    text-align : center;
    color :whitesmoke;
    font-family :'Times New Roman', Times, serif:
}

h3 {
    color : cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
}

pre {

    color : #004040;
}

.quote {
    text-align : left;
    font-size : 40px;
}


.back {

    background-color : #403d39;
}

img{

    width : 200px;
    height : 200px;
}